SUPABASE_URL=https://cagxxljyxjjsmhhqnake.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNhZ3h4bGp5eGpqc21oaHFuYWtlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU0MDk3NTMsImV4cCI6MjA5MDk4NTc1M30.yQvxJ5CNB2syo20TOTMEPUA8NBIC3h60qcf7en5gOiE
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNhZ3h4bGp5eGpqc21oaHFuYWtlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTQwOTc1MywiZXhwIjoyMDkwOTg1NzUzfQ.CYnnBgcEecvCxzB0JMseMhn9EO9zrpykgfmaLkIWw3Y
PORT=3000
NODE_ENV=development
